<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/themes/base/all.css" rel="stylesheet" />
        <link href="~/Content/sidebar.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/Chart.min.js"></script>
        <script src="~/Scripts/Chart.PieceLabel.min.js"></script>
        <script src="~/Scripts/arcnet.simple.mask.min.js"></script>
    </head>
    <body class="principal">
        <div class="container body-content">
            <div class="estilo_exibicao">
                <p><span class="glyphicon glyphicon-th-list"></span> <span class="glyphicon glyphicon-th-large"></span></p>
            </div>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <ul class="nav navbar-brand">
                    <li class="add_game">Games</li>
                </ul>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        @{Html.RenderAction("Menu", "Jquery");}
                        <div class="col-sm-2 col-md-2">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Buscar" name="busca" id="busca">
                                    <span id="lista_resultados_busca" style="display:none"></span>
                                </div>
                            </form>
                        </div>
                        <i class="fa fa-table fa-inverse fa-2x" id="exportar" style="margin-top: 16px; cursor: pointer"></i>
                        <i class="fa fa-circle-o-notch fa-inverse slow-spin fa-2x fa-fw" style="display: none"></i>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </body>
</html>