@model Games.Models.ViewModel.LayoutView
<ul class="nav navbar-nav navbar-right">
    @foreach (var platform in Model.listaPlatform) {
        string classe = "";
        if(Model.ativos.IndexOf(platform.id) != -1) {
            classe = "ativo";
        }
        <li class="li_plataforma @classe" id="@platform.id">@platform.name</li>
    }
</ul>
