@model Games.Models.ViewModel.DashboardView
<div class="container dashboard">
    <div class="row">
        <div class="col-md-3">
            <div class="border row">
                <div class="titulo">Plataformas</div>
                <div class="conteudo">
                    <span class="descricao">Playstation 4</span>
                    <span class="valor">80%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border row">
                <div class="titulo">Formato</div>
                <div class="conteudo">
                    <span class="descricao" style="width:80%">Físico</span>
                    <span class="valor">80%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border row">
                <div class="titulo">Ano</div>
                <div class="conteudo">
                    <span class="descricao">2016</span>
                    <span class="valor">80%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border row">
                <div class="titulo">Developer</div>
                <div class="conteudo">
                    <span class="descricao">Square</span>
                    <span class="valor">80%</span>
                </div>
            </div>
        </div>
    </div>
</div>