@model Games.Models.ViewModel.DashboardReportView
<script>
    $(function () {
        var ctx = document.getElementById("bar_chart_@Model.GetHashCode()").getContext('2d');
        Chart.defaults.global.title.display = false;
        Chart.defaults.scale.gridLines.display = false;
        Chart.defaults.scale.ticks.beginAtZero = true;
        Chart.defaults.scale.ticks.fontColor = "white";

        var bar_chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels:[@Html.Raw(String.Join(",", Model.dados.Select(k => "'"+k.Key+" ("+k.Value+")'")))],
                datasets:[
                 {
                    data:[@Html.Raw(String.Join(",", Model.dados.Values.ToArray().Select(k => "'"+k+"'")))],
                    fill:false,
                    backgroundColor:[
                       "rgba(255, 99, 132, 0.2)",
                       "rgba(255, 159, 64, 0.2)"
                    ],
                    borderColor:[
                       "rgb(255, 99, 132)",
                       "rgb(255, 159, 64)"
                    ],
                    borderWidth:1
                 }
              ]
           },
           options: {
                scales: {
                    yAxes: [{
                        //barThickness: 30
                        categoryPercentage: 1.0,
                        barPercentage: .9,
                        ticks: {
                            mirror: true,
                            max: 2
                        }
                    }],
                    xAxes: [{
                        display: false
                    }]
                },
                legend: {
                    display: false
                },
                maintainAspectRatio: false
           }
        });
    });
</script>
<div class="col-md-3">
    <div class="border row">
        <div class="titulo">@Model.titulo</div>
        <div class="canvas_bar">
            <canvas id="bar_chart_@Model.GetHashCode()"></canvas>
        </div>
    </div>
</div>