@model Games.Models.ViewModel.DashboardTableReportView
<div class="col-md-3">
    <div class="border row dashboard_box">
        <div class="titulo">@Model.titulo</div>
        @foreach (var info in Model.dados) {
            string porcentagem = @Model.porcentagem(Model.totalJogos, info.Value);
            <div class="conteudo" style="background: -webkit-linear-gradient(left, #0c1b93 0, #0c1b93 @porcentagem, transparent @porcentagem);">
                <span class="descricao">@Model.texto(info.Key)</span>
                <span class="valor">@info.Value (@porcentagem)</span>
            </div>
        }
    </div>
</div>