@model Games.Models.ViewModel.DashboardSummaryView
<div class="col-md-2">
    <div class="border row dashboard_box dashboard_box_summary">
        <div class="icone_dashboard">
            <i class="fa @Model.icone fa-2x"></i>
        </div>
        <div class="valor_dashboard">@Model.valor</div>
        <div class="descricao_dashboard">@Model.descricao</div>
    </div>
</div>