@model Games.Models.ViewModel.GameListView
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            $(function() {
                $(".thumbnail").click(function () {
                    $("#modal").modal('show');
                });
            });
        </script>
    </head>
    <body>
        <div id="modal"></div>
        <div class="row">
            @foreach (var game in Model.ListaJogos) {
                <div class="col-sm-2">
                    <div class="col-sm-12 thumbnail text-center">
                        <img class="img-rounded" src="@Model.CoverUrl/@game.cloudnary_id".jpg" />
                        <div class="caption">
                            <h4>@game.name</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </body>
</html>