<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script>
            var status = "@(ViewContext.RouteData.Values["status"])";
            $("#busca").keyup(function () {
                $.post('@Url.Action("BuscarJogoEntityJquery", "Jquery")', { search: $(this).val() },
                function (resposta) {
                    $("#lista_resultados_busca").html(resposta);
                    $("#lista_resultados_busca").slideDown();
                });
            });
            $("#exportar").click(function () {
                $.post('@Url.Action("ExportarJogosJquery", "Jquery")', { search: $(this).val() },
                function (resposta) {
                    alert('foi');
                });
            });
        </script>
    </head>
    <body>
        <div class="modal fade" id="modal_game_info_grid" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Game</h4>
                    </div>
                    <div class="modal-body row"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_game_info_list" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Game</h4>
                    </div>
                    <div class="modal-body row"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_game" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Game</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form_game"></form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger excluir pull-left">Excluir</button>
                        <button type="button" class="btn btn-primary salvar">Salvar</button>
                        <button type="button" class="btn btn-primary cancelar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container game_list_container">
            <span id="GameListView">
                @{Html.RenderAction("ListaJogosIndex", "Jquery");}
            </span>
            <!--<div class="background"><img id="img_background" src="~/Content/eyes.jpg" /></div>-->
        </div>
    </body>
</html>