<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <span id="DadosGameView">
            @{Html.RenderPartial("~/Views/Jquery/DadosGameView.cshtml", new Games.Models.ViewModel.GameDataView());}
        </span>
        <div class="row">
            <span id="GameListView">                
                @{Html.RenderAction("Index", "Home");}
            </span>
        </div>
    </body>
</html>