@model Games.Models.ViewModel.GameListView
@foreach (var game in Model.ListaJogos) {
    <div class="col-sm-2">
        <div class="col-sm-12 thumbnail text-center">
            <input type="hidden" class="id" value="@game.id" />
            <img class="img-rounded img-responsive capa" src="@Model.SmallCoverUrl/@game.cloudnary_id" />
            <div class="caption">
                <h4>@game.name</h4>
            </div>
        </div>
    </div>
}
