<script>
    $(function () {
        /*========== grid de jogos ================*/
        //exibir modal para alterar jogo
        $(".thumbnail").click(function () {
            $.post('@Url.Action("PreencherDadosGameEntityJquery", "Jquery")', { id: $(this).find(".id").val() },
            function (resposta) {
                $(".excluir").css('display', '');
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
        //exibir inclusao de jogo
        $(".navbar-brand").click(function () {
            $.post('@Url.Action("ExibirFormGame", "Jquery")',
            function (resposta) {
                $(".excluir").css('display', 'none');
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
        var elemento = $(".ativo");
        var plataforma_ativa = "";
        if (elemento.attr("id") != 0) {
            plataforma_ativa = " ("+$(".ativo").html().split("<")[0].trim()+")";
        }
        $(".page-header h1").html(titulo+plataforma_ativa);
    });
</script>
<div class="modal fade" id="modal_jquery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="id_game" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Resultados</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@model Games.Models.ViewModel.GameListView
@foreach (var game in Model.ListaJogos) {
    <div class="col-sm-2">
        <div class="col-sm-12 thumbnail text-center">
            <input type="hidden" class="id" value="@game.Id" />
            @if (File.Exists(Model.Imagesfolder+game.Id + "_SmallCover_"+game.CloudnaryId + ".jpg")) {
                <img class="img-rounded img-responsive capa" src="~/images/@(game.Id+"_SmallCover_"+@game.CloudnaryId+".jpg")" />
            }
            else {
                <img class="img-rounded img-responsive capa" src="~/Content/ps.png" />
            }
            <div class="caption">
                <h4>@game.Name</h4>
            </div>
        </div>
    </div>
}