@foreach (var game in Model.ListaJogos) {
    <div class="row">
        <div class="col-md-12 select_game">
            <input type="hidden" class="id_igdb" value="@game.Id" />
            @game.Name
        </div>
    </div>
}