<script>
    $(function () {
        /*========== grid de jogos ================*/
        //exibir modal para alterar jogo
        $(".thumbnail").click(function () {
            $.post("/Jquery/PreencherDadosGameEntityJquery", { id: $(this).find(".id").val() },
            function (resposta) {
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
        //exibir inclusao de jogo
        $(".navbar-brand").click(function () {
            $.post("/Jquery/ExibirFormGame",
            function (resposta) {
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });

        /*$(".thumbnail .caption").click(function () {
            $("#modal_jquery #id_game").val($(this).closest(".thumbnail").find(".id").val());
            $.post("/Jquery/BuscaJogoUpdateJquery", {search:$(this).find('h4').html()},
            function (resposta) {
                $("#modal_jquery .modal-body").html(resposta);
                $("#modal_jquery").modal('show');
            });
        });*/

        /*$(".modal-body").on("click", ".select_game", function () {
            $.post("/Jquery/AtualizarJogoJquery", { id_local: $("#id_game").val(), id_igdb: $(this).find(".id_igdb").val() },
            function (resposta) {
                $('.modal').modal('hide');
                $('.modal-backdrop').hide();
                $.post("/Jquery/ListaJogosIndex", {status:"(ViewContext.RouteData.Values["status"])"},
                function (resposta) {
                    $("#GameListView").html(resposta);
                });
            });
        });*/
    });
</script>
<div class="modal fade" id="modal_jquery" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="id_game" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Resultados</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@model Games.Models.ViewModel.GameListView
@foreach (var game in Model.ListaJogos) {
    <div class="col-sm-2">
        <div class="col-sm-12 thumbnail text-center">
            <input type="hidden" class="id" value="@game.id" />
            @if (File.Exists(Model.Imagesfolder+game.id+"_SmallCover_"+game.cloudnary_id+".jpg")) {
                <img class="img-rounded img-responsive capa" src="~/images/@(game.id+"_SmallCover_"+@game.cloudnary_id+".jpg")" />
            }
            <div class="caption">
                <h4>@game.name</h4>
            </div>
        </div>
    </div>
}