@model Games.Models.ViewModel.GameResultView
<div class="div_resultados container">
    @foreach (var game in Model.ListaJogos) {
        <div class="row">
            <input type="hidden" class="id_igdb" value="@game.Id" />
            <div class="col-md-1 capa_lista">
                @if (game.Cover != null) {
                    <img src=@(Model.MicroCoverUrl+"/"+@game.Cover.CloudinaryId+".jpg") />
                }
            </div>
            <div class="col-md-11 titulo_lista">@game.Name</div>
        </div>
    }
</div>