body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.caption {
    width:100%;
    bottom: 0;
    position: absolute;
    background:#000;
    background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.thumbnail {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    margin:0;
    margin-top: 5px;
    cursor: pointer;
    min-height: 270px;
}

.caption h4 {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-bottom: -0.5em;
    font-size: 15px;
}

.capa {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.thumbnail .caption {
    padding-left:  0.1em;
    padding-right: 0.1em;
    padding-bottom: 0.8em;
}

.container {
    width: 80%;
}

#modal_game .modal-dialog {
  width: 80%;
  padding: 0;
}

#modal_game .modal-content {
  min-height: 100%;
}

#modal_game .modal-content .form-control {
    min-width: 100%;
}

.fieldset_plataformas .form-group {
    margin-bottom: 5px;
}

.fieldset_plataformas .btn {
    float: right;
    font-weight: bold;
    min-width: 35px;
}

#modal_game .modal-content .select_plataforma {
    min-width: 45%;
    width: 45%;
    clear:both;
    display: inline;
}

#modal_game .modal-content, .modal-content legend {
    background-color: #222;
    color: rgba(255, 255, 255, 0.54);
    font-size: 1.2em;
}

#modal_game .modal-content #Titulo {
    min-width: 90%;
    width: 90%;
    clear:both;
    display: inline;
}

#modal_game .modal-content legend {
    text-align: center;
    margin-bottom: 5px;
}

.select_game {
    cursor: pointer;
}

.select_game:hover {
    background-color: rgb(172, 167, 167);
}

.principal {
    background-color: #555;
}